*{
    margin: 0;
    padding: 0;
}
body {
  background-color: #985050;
  
}

.TATA{
  padding: 4rem 0;
}

.search-card {
  background: #fff;
  border-radius: 16px;
  padding: 1.5px;
  box-shadow:  4px 16px rgba(0, 0, 0, 0.08);
}

.feature-pill {
  background: #fff;
  border-radius: 12px;
  padding: 0.6rem 1rem;
  box-shadow:  2px 10px rgba(0, 0, 0, 0.05);
}

